body {
  font-family: Avenir;
  margin: 20px;
}

header {
  background-color: pink;
  text-align: center;
  margin: 20px;
}

h1 {
  font-family: Demonized;
  src: url("https://cdn.glitch.com/501ab798-ebe0-4f8e-b6b6-45b6f6472e12%2FDemonized.ttf?v=1607670895357");
}

footer {
  font-style: italic;
  font-size: 10px;
}
